@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, sunset;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

@layer base {
  h1 {
    @apply font-bold text-slate-800 text-2xl mt-4 mb-3;
  }
}
